@charset "utgf-8";
@font-face {
    font-family: 'SUITE-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}
body {font-family: 'SUITE', sans-serif;}
/* popup */
.popup{
    background: rgba(0,0,0,0.8);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 10000;
}
.card{
    background: #fff;
    width: 780px;
    height: 540px;
    border-radius: 30px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    padding: 80px;
    box-sizing: border-box;
}
.pic{
    float: left;
}
.txt{
    float: right;
    margin: 30px 61px 0 0 ;
}
.txt ul.left{
    float: left;
    margin-right: 40px;
}
.txt ul.left li{
    width: fit-content;
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 20px;
}
.txt ul.right{
    float: left;
}
.txt ul.right li{
    width: fit-content;
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 20px;
    color: #606060;
}
.balloon{
    background: #D3DCFD;
    width: 610px;
    height: 90px;
    border-radius: 0 70px 70px 70px;
    margin-top: 330px;
}
.balloon p{
    text-align: center;
    line-height: 90px;
    font-weight: 500;
    font-size: 30px;
    color: #333;
}

/* 팀원소개 */
.inner{
    width: 1620px;
    margin: 0 auto;
    position: relative;
}
h1{
    text-align: center;
    font-size: 50px;
    padding-top: 90px;
    font-weight: 900;
    color: #333;
}
/* cover */
.cover{
    background: rgba(0,0,0,0.6);
    width: 282px;
    height: 282px;
    border-radius:100% ;
    position: absolute;
    left: 0;
    top: 0;
    display: none;
}
.cover p{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    color: #fff;
    font-size: 30px;
}
ul.img li a:hover .cover{
    display: block;
}
ul.img li{
    border-radius: 100%;
    width: 282px;
    height: 282px;
    position: relative;
}
.btn_close{
    text-indent: -99999px;
    cursor: pointer;
    width: 24px;height: 24px;
    background: url("../images/profile/btn_close.png")no-repeat center center;
    border: none;
    position: absolute;
    right: 40px;
    top: 40px;
}


.top{
    display: flex;
    gap: 103px;
    position: absolute;
    left: 0;
    top: 300px;
}
.bottom{
    display: flex;
    gap: 103px;
    position: absolute;
    right: 0;
    top: 582px;
}

