/*
영문 폰트
font-family: 'Open Sans', sans-serif;

한글 폰트
font-family: 'Noto Sans KR', sans-serif;

layout.css에 저장되어있으니 그냥 선언해서 사용하면 됨
*/

/*** header 시작 ***/
header{
    position:relative;
    padding-top:20px;
    padding-bottom:60px;
    border-bottom: 1px solid #c0c0c0;
    z-index: 99;
}
header a,header a:link, header a:hover{
    color:#444;
}
.header-logo-box{
    position: absolute;
    top:0;
    left:50%;
    transform: translate(-50%);
}
.header-logo-box a img{
    width:250px;
}
.header-top-nav{
    display: flex;
    justify-content: space-between;
}
.header-search-area{
    border-bottom: 1px solid #c0c0c0;
}
#header-search{
    padding: 0 10px;
    line-height: 30px;
    display: inline-block;
    background-color: transparent;
}

#btn-header-search{
    overflow: hidden;
    display: inline-block;
    width: 25px;
    margin: 0;
    padding: 0;
    text-indent: -9999px;
    border: 0;
    background: url('../images/ico/ico-search-white.png') no-repeat center;
    cursor: pointer;
}
.header-bottom-nav{
    position:relative;
}
.header-hide{
    position: absolute;
    top:61px;
    width:100%;
    height:44px;
}
.header-hide.on{
    background-color: rgba(255,255,255, 0.8);
}
.header-gnb{
    position: relative;
    width:1100px;
    margin:0 auto;
}
.header-gnb>li>a{
    position: absolute;
    top:-30px;
    display: block;
    height:30px;
    font-size:16px;
    color:#444;
}
.header-gnb>li>a.on{
    border-bottom:3px solid #c0c0c0;
}
.nav-movie{
    left:166px;
}
.nav-reserve{
    left:256px;
}
.nav-theater{
    left:345px;
}
a.nav-event{
    right:344px;
    width:48px;
}
a.nav-store{
    right:237px;
    width:48px;
}
.nav-benefit{
    right:149px;
}
.header-lnb{
    position: absolute;
    z-index: 99;
    display: none;
}
.header-lnb.on{
    display: flex;
}
.header-lnb>li:not(:first-child){
    margin-left:19px;
}
.header-lnb>li>a{
    line-height: 44px;
    color:#444;
}
.header-lnb>li>a:hover{
    text-decoration: underline;
}
/*** header 끝 ***/

/*** hero 시작 ***/
.ts-hero{
    height:600px;
}
.ts-hero .container{
    height:100%;
}
.ts-slide-frame{
    width:100%;
    height:100%;
    overflow: hidden;
    position:relative;
}
.ts-slide-box{
    width:4400px;
    height:100%;
    position:absolute;
    left:0;
}
.ts-slide-box .slide{
    width:1100px;
    height:100%;
    float:left;
    position:relative;
}
.ts-slide-box .slide img{
    width:100%;
    position:absolute;
    left:0;
    top:0;
    z-index: 1;
}
.ts-slide-box .slide .util{
    position:absolute;
    top:400px;
    left:70px;
    padding:10px;
    z-index: 2;
}
.ts-slide-box .slide .util .slide-detailview{
    display: inline-block;
    padding:5px 10px 5px 10px;
    border:1px solid #c0c0c0;
    border-radius:15px;
    transition: 300ms;
    color:#fff;
}
.ts-slide-box .slide .util .slide-detailview:hover{
    color:#fff;
    background-color: #000;
    font-weight: 600;
}
.ts-slide-box .slide .util .slide-quickreserve{
    display: block;
    width:120px;
    padding:5px 10px;
    margin-top:5px;
    background: url(../images/ico/ico-schedule-white.png) no-repeat 65px;
    background-size: 20%;
    color:#fff;
}
.back-color{
    background: rgba(0,0,0,0.2);
}
/*** hero 끝 ***/

/*** best-movie 시작 ***/

.box-office{
    height:400px;
}
.box-office>.container{
    /* padding-top: 5px; */
    position:relative;
}
.rankbox{
    display: flex;
}
.office-moviebox:not(:last-child){
    margin-right: 40px;
}
.office-moviebox{
    display: block;
    width:245px;
    height:352px;
    position: relative;
    border:2px solid rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    overflow: hidden;
}
.office-moviebox>img{
    position: absolute;
    left:0;
    top:0;
    border-radius: 5px;
}
.office-moviebox>img:first-child{
    position: absolute;
    top:0;
    left:0;
    width: 245px;
    height: 352px;
}
.ranktext{
    position: absolute;
    top:4px;
    left:14px;
    font-style: italic;
    color:#fff;
    font-size:30px;
    font-weight: 300;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.8);
    transform:skewX(-5.5deg)
}
.rank-imgbox{
    position: absolute;
    top:10px;
    right:10px;
}
.rank-imgbox>p{
    display: inline-block;
    background-color: rgba(0,0,0,0.6);
    padding:8px 8px 0px 8px;
    border-radius: 3px;
    margin:0;
    margin-left: 4px;
}
.office-review{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height: 352px;
    border-radius: 5px;
    background-color: rgba(0,0,0,.8);
    padding:25px;
    display: none;
}
.office-summary{
    height:152px;
    overflow: hidden;
    color:#fff;
}
.office-like{
    border-top: 1px solid #3c3c3c;
    position: absolute;
    bottom:20px;
    left:20px;
    right:20px;
    text-align: center;
    padding-top: 10px;
}
.office-like>p{
    display: inline-block;
    color:#fff;
    font-size:14px;
    margin: 0;
    line-height: 36px;
    vertical-align: middle;
}
.office-like>p:last-child{
    font-size:25px;
    color:#fff;
    margin-left:20px;
}
/*** best-movie 끝 ***/

/*** footer 시작 ***/
footer{
    margin-top:30px;
    background-color: #ededed;
    padding-top:10px;
    padding-bottom:10px;
}
.footer-top{
    padding-bottom:10px;
    border-bottom: 1px solid #929292;
    font-size:12px;
}
.footer-logobox{
    width:150px;
}
.footer-logobox img{
    width:100%;
    filter:grayscale();
}
.f-text li{
    margin-right:16px;
    position:relative;
}
.f-text li:not(:last-child)::after{
    content:"";
    position:absolute;
    right:-8px;
    top:4px;
    width:1px;
    height:10px;
    background-color: #929292;
}
.f-text li a{
    display: block;
    padding-bottom:1px;
}
.f-text li a:hover{
    padding-bottom:0px;
    border-bottom:1px solid #929292;
}
.footer-bottom{
    padding-top:20px;
    font-size:14px;
}
.footer-bottom address{
    display: inline-block;
    font-style: normal;
    margin-right: 10px;
}
.footer-bottom span{
    margin-right: 10px;
}
.footer-bottom span.bar{
    padding-left:10px;
    position: relative;
}
.footer-bottom span.bar::before{
    content:"";
    position:absolute;
    left:0; 
    top:2px;
    height:12px;
    border-left: 1px solid #929292;
}
/*** footer 끝 ***/