/*
영문 폰트
font-family: 'Open Sans', sans-serif;

한글 폰트
font-family: 'Noto Sans KR', sans-serif;

layout.css에 저장되어있으니 그냥 선언해서 사용하면 됨
*/

span.eg{
    font-family: 'Open Sans', sans-serif;
}
.h-active{
    background: #ddd;
}
.h-movie-list{
    display: flex;
    height: 40px;
    border-bottom: 1px solid #333;
}
.h-movie-list.drop{
    position: fixed;
    display: flex;
    width: 100%;
    z-index: 100;
    top: 0;
    left: 0;
    padding: 0;
    background: #fff;
    border-bottom: 1px solid #333;
}
.h-movie-list li:hover{
    background: #ddd;
}
.h-movie-list li a{
    display: block;
    padding: 10px 40px;
    width: 100%;
    height: 100%;
}
.h-movie{
    padding-top: 40px;
    border-bottom: 1px solid #333;
}
.h-movie h2{
    margin-bottom: 10px;
}
.h-movie ul{
    padding-bottom: 40px;
}
.h-movie ul li{
    text-align: center;
}
.h-movie ul li a{
    display: inline-block;
    width: 200px;
}
.h-imgbox{
    width: 200px;
    height: 300px;
    position: relative;
}
.h-imgbox img{
    width: 200px;
    height: 300px;
    background: #ddd;
    position: absolute;
    top: 0;
    left: 0;
}
.h-movie-content{
    width: 100%;
    height: 100%;
    display: none;
    position: absolute;
    background-color: #000;
    opacity: 0.7;
    color: #fff;
    top: 0;
    padding: 10px 20px;
}
.h-review-rate{
    position: absolute;
    font-size: 14px;
    left: calc(50% - 17%);
    bottom: 10px;
}
.h-review-rate span{
    font-size: 20px;
    font-weight: 300;
}
.h-rate-date{
    font-size: 13px;
}
.h-rate::after{
    content: "|";
    display: inline-block;
    padding: 3px;
}
.h-ticketing a{
    display: inline-block;
    color: #333;
    border: 1px solid #000;
    padding: 5px 15px;
    border-radius: 4px;
    font-size: 12px;
    font-weight: bold;
}


/********** my page *************/
.h-member_info{
    width: 100%;
    height: 200px;
    border: 1px solid #000;
    margin: 10px 0;
    position: relative;
}
.h-welcom{
    width: 90px;
    height: 90px;
    border: 1px solid #000;
    border-radius: 20px;
    position: absolute;
    top: 40px;
    left: 40px;
}
.h-member_name{
    font-size: 30px;
    position: absolute;
    top: 40px;
    left: 140px;
}
.h-member_edit{
    position: absolute;
    left: 50px;
    bottom: 20px;
}
.h-member_point{
    position: absolute;
    font-size: 20px;
    top: 30px;
    left: 350px;
}
.h-member_point span{
    font-size: 40px;
    font-weight: bold;
}
.h-booking, .h-my_review{
    width: 75%;
    height: 200px;
    margin: 40px 0;
    border-bottom: 1px solid #ddd;
}
.h-booking h3, .h-my_review h3{
    height: 30px;
    border-bottom: 1px solid #000;
    padding: 0 10px;
}
.h-booking h3 span, .h-my_review h3 span{
    display: inline-block;
}
.h-booking h3 .h-plus, .h-my_review h3 .h-plus{
    float: right;
}
.h-booking h3 .h-plus a, .h-my_review h3 .h-plus a{
    font-size: 12px;
    font-weight: normal;
}
.h-bookingbox, .h-my_reviewbox{
    width: 100%;
    height: 170px;
    text-align: center;
    line-height: 130px;
    padding: 20px 0;
}